doctype html
html(lang='en')
    include includes/commons/_head
    body
        .pure-g-r
            .pure-u-1
                include includes/commons/_header
            .pure-u-1
                include includes/commons/_menu
        .pure-g-r
            .pure-u-1
                h2 Pages > Page 2
            .pure-u-1-2
                a(href='page1.html') Go to page 1
            .pure-u-1-2
                a(href='index.html') Go back to the index
        .pure-g-r
            .pure-u-1
                include includes/commons/_footer