footer
    p Made by Siegfried Ehret (<a href='http://ehret.me/' target="_blank">ehret.me</a>, @SiegfriedEhret on <a href="https://twitter.com/SiegfriedEhret">Twitter</a> or <a href="https://alpha.app.net/SiegfriedEhret">App.net</a>)